<div class="table-responsive">
  <form method="post" action="/tasks/add">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Task:</th>
          <td><input class="form-control" type="text" name="task" required size="40" 
                  placeholder="Task Description"></td>
        </tr>
        <tr>
          <th>Due Date:</th>
          <td><input class="form-control" type="date" name="due" size="40" 
                  value="{{datePickerFormat task.due}}"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Add" 
              class="btn btn-success">
           <input type="button" value="Cancel" 
              class="btn btn-danger" onClick="goBack()">
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
