<div>
	<!-- show any messages that come back with authentication -->
	{{#if error}}
	    <div class="alert alert-danger">{{error}}</div>
	{{/if}}
	{{#if success}}
	    <div class="alert alert-success">{{success}}</div>
	{{/if}}
	<ul class="list-group list-group-flush">
		{{!-- unless is inverse of if --}}
		{{#unless users}}
		<li class="alert alert-danger">
	    <strong>Error:</strong> Can't access User Data
	  </li>
		{{/unless}}

	  {{#each users}}
	  <li class="list-group-item flex-column align-items-start border-top">
	    <span class="input-group-append float-right">
			    <button class="btn btn-outline-secondary btn-sm mr-2" type="button" onClick="editUser('{{this.id}}')">Edit</button>
			    <button class="btn btn-outline-secondary btn-sm" type="button" onClick="deleteUser('{{this.id}}')">Delete</button>
			</span>
	    <h5 class="mb-1" >
	    	{{@index}}: {{this.id}} 
	    	{{#if this.admin}}
	    	<span class="badge badge-info">Admin</span>
				{{/if}}
	    </h5>
	    <p>
	    	email: {{this.email}}<br>
	    	HashedPass: {{this.password}}<br>
	    	#Tasks: {{this.tasks.length}}
	    </p>
	  </li>
	  {{/each}}
	</ul>
</div>
