<div>
	<div class="mb-2">
		<button type="button" class="btn btn-primary btn-lg btn-block" onClick="addTask()">Add Task</button>
	</div>
  
  <!-- show any messages that come back with authentication -->
  {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
  {{/if}}
  {{#if success}}
      <div class="alert alert-success">{{success}}</div>
  {{/if}}

  {{!-- unless is inverse of if --}}
	{{#unless tasks}}
	<div class="alert alert-info">
    <strong>Tip:</strong> Click 'Add Task' Button to add tasks
  </div>
	{{/unless}}

	<ul class="list-group list-group-flush">
	  {{#each tasks}}
	  <li class="list-group-item flex-column align-items-start">
	    
	    {{#if this.dueDate}}
	    <span class="d-flex w-100 justify-content-between">
				<span class="badge badge-warning mb-1">
					Due: {{shortDate this.dueDate}}
				</span>
	    </span>
	    {{/if}}

	    <span class="input-group-append float-right">
			    <button class="btn btn-outline-secondary btn-sm mr-2" type="button" onClick="editTask('{{this.id}}')">Edit</button>
			    <button class="btn btn-outline-secondary btn-sm" type="button" onClick="deleteTask('{{this.id}}')">Delete</button>
			</span>
	    <h5 class="mb-1" >
	    	{{this.task}}
	    </h5>
	  </li>
	  {{/each}}
	</ul>
</div>
