<div class="table-responsive">
  <form method="post" action='/admin/edit/{{user.id}}'>
    <!-- show any error messages -->
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>ID:</th>
          <td><input class="form-control" type="text" size="40"
                  value="{{user.id}}" disabled></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><input class="form-control" type="email" name="email" required size="40" 
                  value="{{user.email}}"></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td><input class="form-control" type="text" name="password" size="40"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
              <input type="submit" value="Save" class="btn btn-success">
              <input type="button" value="Cancel" class="btn btn-danger" onClick="goBack()">
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
