<div class="table-responsive">
  <form method="post" action="/login">
    <!-- show any messages that come back with authentication -->
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Email:</th>
          <td><input class="form-control" type="email" name="email" size="40" 
            placeholder="your@email.com" required></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td><input class="form-control" type="password" name="password" size="40" required></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Submit" 
              class="btn btn-primary">
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
