<div class="table-responsive">
  <form method="post" action="/newUser">
    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Email:</th>
          <td><input class="form-control" type="email" name="email" size="40" 
                  placeholder="your@email.com" required></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td><input class="form-control" type="password" name="password" size="40" required></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Submit" 
              class="btn btn-primary">
           <input type="button" value="Cancel" 
              class="btn btn-secondary" onClick="goBack()">
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
