<!doctype html>
<html lang="en">
<head>
	<!-- Required bootstrap meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- BootStrap -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/customStyles.css">

	<!-- FrontEnd JavaScript -->
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>

	<title>Task List</title>
</head>
<body class="col-lg-8">
	<header>
		<img src="/images/dragon-logo.png" alt="logo" height="75">
		<h1 class="text-center">{{title}}</h1>
		<div class="text-right">
				{{!--Show if Admin user --}}
				{{#if showAdminLink}}
				<a class="m-2" href="/admin">Admin Panel</a>
				{{/if}}
				{{#if showTaskLink}}
				<a class="m-2" href="/tasks">Task List</a>
				{{/if}}
				{{#if showNewUserLink}}
				<a class="m-2" href="/newUser">New User</a>
				{{/if}}
				{{#unless hideLogoutLink}}
				<a class="m-2" href="/logout">Logout</a>
				{{/unless}}
		</div>
	</header>

	{{{body}}}

</body>
</html>


