/* 
    Created on : Jun 8, 2016, 5:26:40 PM
    Author     : David Tanzman
    Style sheet for Image Manipulation Example
*/

/* reset all default margin and padding to 0 */
/* helps prevent crossbrowser formatting issues */
* {
    margin: 0px;
    padding: 0px;
}

/* change default font to san-serif fonts */
* {
    font-family: arial, verdana, sans-serif;
}

/* styles for headings */
h1 {
    font-family: "Montserrat", sans-serif; /* Google Web Font */
    font-size: 2.5em;
    color: black;
}

h2 {
    font-size: 1.4em;
    color: #003366;
    margin-top: .5em;
}

h3 {
    font-size: 1em;
    color: #006666;
}

/* body and html styles */
html {
    height: 88%; /* 100% had excess space */
    background-color: #00141E;
    padding: 2%;
}

body {
    width: 1000px;
    background-color: #CCD1D1;
    margin: 0 auto; /* center body in page */
    padding: 5px 10px;
}

/* main content styles */
main {
    min-height: 500px; /* height in relation to users screen */
    width: 900px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    margin: 5px auto;
    padding: 10px;
}

p {
    margin-top: 10px;
}

em {
    color: grey;
}

/* control buttons style */
#control_buttons {
    float: left;
}

#control_buttons ul{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: #CCD1D1;
}

#control_buttons button{
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
}

/* images styles */
#images {
    display: block;
    margin: 10px auto;
}

img.wrappedElement {
    border: 2px solid black;
    margin: 6px;
}

/* scales images to 110% */
img.scale {
    transform:scale(1.1);
}

img.invert {  
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/* style for footer */
footer {
    clear: both; /* clears above elements so margin works */
    margin: 0px 5px;
    width: 50%; /* save room to right in case want to add anything on that side */
    vertical-align: bottom;
}

footer p {
    font-size: .8em; /* use relative units for font so can scale based on users system preferences */
}