/* General formatting */

html {
  background: #b5bbc1;
}

#body {
  height: auto;
  margin: auto;
  padding: 0;
  float: none;
}

.navbar {
  float: none;
  margin: auto;
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
  border: none;
}

#navbar-collapse {}

.nav-tabs {
  border-bottom: 1px solid #3b556b;
}

.content {
  display: block;
  min-height: 100vh;
  background-color: #f8f8f8;
  margin: auto;
  padding: 15px 0;
  float: none;
  /* disable bootstrap float */
  border-radius: 0 0 5px 5px;
}

.floatEnd {
  clear: both;
}

.firstSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  font-size: x-large;
}

.pagePagination {
  display: flex;
  justify-content: center;
}

.firstSearch #queryInput {
  width: 400px;
}

.btn {
  font-size: medium;
}

.popover {
  max-width: 100vh;
}

.glyphicon {
  top: 0;
}

.searchItem {
  overflow: hidden;
  padding: 15px 0;
}

.searchItem .imgColumn img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 150px;
}

.buttonMargin {
  display: block;
  margin: 15px 0;
}

.listMovable {
  border-top: #2a5f8c 1px solid;
  border-bottom: #2a5f8c 1px solid;
}

.listMovable:first-child {
  border-top: #2a5f8c 2px solid;
  margin-top: 10px;
}

.listMovable:last-child {
  border-bottom: #2a5f8c 2px solid;
}

.listMovable:hover {
  background-color: white;
  cursor: move;
  border-top: #2a5f8c 2px solid;
  border-bottom: #2a5f8c 2px solid;
  z-index: 2;
}

hr {
  border-top: 2px solid #2a5f8c;
}

input {
  border-radius: 10px;
  padding: 3px;
}