/* Author     : dtanzman100 */
/* central layout for website */

/* 
 * reset all default margin and padding to 0 to improve crossbrowser format
 * reset box-sizing to border box because it makes sense 
 * set default font to san-serif
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, verdana, sans-serif; /* change default font to san-serif fonts */
}

/* hide the mobile_menu until displayed in mobile landscape (767px and below) */
#mobile_menu {
    display: none;
}

/* format for desktop and tablet landscapes (960px or more) */

/* styles for navigation menu */
/* use nav_menu class in case want to also add a nav side_menu */
#nav_menu {
    display: block;
    width: 13em; /* 208px */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #3B556B;
}

#nav_menu ul {
    list-style-type: none;
    margin-top: 10%; /* matches left & right margin of li a elements below */
}

#nav_menu ul li a, #nav_menu ul li.sub_current {
    display: block;
    color: whitesmoke;
    font-size: 1.4em;
    font-weight: bold;
    font-family: arial, verdana, sans-serif;
    text-align: left;
    padding: 5%;
    margin: 0 10%;
    text-decoration: none;
    background-color: #031634;
}

#nav_menu ul li a.current {
    color: #1B1464;
    background-color: #29ABE2;
    margin: 0 5%; /* when current reduces left and right margin from 10% to 5% growing in size */
}

#nav_menu ul li.sub_current {
    color: #29ABE2;
    background-color: #031634;
    font-size: 1em;
    font-weight: normal;
    padding: 1% 5%;
}

#nav_menu ul li a:hover {
    color: lightgrey;
    background-color: grey;
    margin: 0 5%;
}

/* style for body */
body {
    background-color: #00141E;
    width: 100%;
}

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 208px; /* offsets content from nav bar */
    right: 0;
    overflow: auto; /* provides scroll bar */
}

#content_border {
    background-color: #CCD1D1;
    margin: 2% auto;
    width: 98%;
    padding: 1%;
    padding-bottom: 0;
    max-width: 1155px;
}

#back_button {
    float: right;
    padding: 1% 2%;
    margin: 0 0 1% 1%;
    background-color: whitesmoke;
    border: 1px solid black;
}

#back_button:hover {
    background-color: lightgrey;
}

/* base styles for paragraphs and headings (font base is 16px) */

p {
    font-size: 1em;
    margin: .5em 1em 1em;
}

p.last {
    margin-bottom: .5em;
}

h1 {
    font-family: "Montserrat", sans-serif; /* Google Web Font */
    font-size: 2.25em; /* 36px (36/16px)*/
    color: black;
}

h2 {
    font-size: 1.75em; /* 30px */
    color: #003366;
}

h3, dt {
    font-size: 1.2em;
    font-weight: bold;
    color: #003366;
}

h4 {
    font-size: 1.1em;
    color: #003366;
    font-weight: normal;
}

.unbold {
    font-weight: normal;
}

h1 img {
    vertical-align: bottom;
}

/* style for text boxes and lists */

.text_box {
    width: auto;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 2%;
    margin: 0 2% 2%;
}

.text_box ul {
    margin-bottom: 1em;
}

.text_box ul.last {
    margin-bottom: 0;
}

.text_box ul>li {
    margin-left: 1.5em;
    padding: 0.5%;
}

.text_box dl {
    display: block;
}

.text_box dd {
    margin-bottom: .3em;
    margin-left: 1em;
}

/* styles for tables */

table {
    width: 100%;
}

table td {
    padding: .1em;
}

/* styles for element manipulation */

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.clear {
    clear:both;
}

.text_right {
    text-align: right;
}

.small_width{
    width: 33%;
    margin-bottom: 10px;
}

.med_width {
    width: 65%;
    margin: 2%;
}

/* style for main content */

main {
    display: block;
    margin: 1% 2% 0; /* centers body within webpage */
    padding: 2% 2% 0;
    background-color: #EBECEC;
    border: 2px solid #3B556B;
}

.main_pic {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    width: 30%;
}

.main_pic img {
    width: 100%;
    max-width: 250px; /* max image size */
    border: 1px solid #CCD1D1;
    border-radius: 3px;
}

.main_pic_text {
    display: inline-block;
    width: 69%;
    margin: 1% auto;
}


.sample_pic {
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    padding: 1%;
}

.sample_pic img {
    width: 100%;
    max-width: 375px;
    margin: 2%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-left: 2%;
}

/* style for forms */
.form_group {
    margin: .5%;
    margin-bottom: 3%;
    padding-left: 1%;
}

.form_group [type="text"], .form_group [type="password"] {
    width: 18em;
    height: 1.5em;
    font-size: 1em;
}

.form_group input {
    margin: .5em;
}

.left_form {
    width: 100%;
    max-width: 450px;
}

.right_form {
    float: left;
    width: 100%;
    max-width: 400px;
    padding: 1%;
}

textarea {
    max-width: 100%; /* prevents from overflowing surrounding element */
    min-height: 7em;
    margin: 1.5%;
    padding: 1%;
    font-size: 1em;
}

/* adds a red '*' before line with a non breaking space */
.required .title:before {
    content: '*\00a0';
    color: red;
}

/* warning message format for incorrect input */
.title .warning {
    color: red;
    font-size: .8em;
    margin-left: 1.5em;
    font-weight: lighter;
}

/* adds a green check after inputs container */
.valid:after {
    content: '\02714';
    color: green;
}

#form_feedback {
    float: right;
    width: 100%;
    border: 2px solid grey;
    background-color: #CCD1D1;
    border-radius: 3px;
    margin-left: 1.5%;
    margin-bottom: 5%;
    padding: 1%;
    padding-right: 3%;
}

#form_feedback input {
    padding-bottom: 1.5%;
}

textarea {
    height: 5em;
    width: 25em;
}

.muted_text {
    color: grey;
}

#buttons {
    clear: both;
    padding: 1.5%;
}

#buttons input {
    display: inline-block;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

#buttons input:hover {
    background-color: lightgrey;
    border: 1px inset grey;
}

iframe {
    display: block;
    width: 100%;
    height: 625px;
}

/* style for footer */
footer {
    clear: both; /* clears above elements so margin works */
    padding: 0.5% 0 0.25%;
    overflow: hidden;
}

footer p {
    display: block;
    font-size: .8em; 
    width: 70%; /* save room to right in case want to add anything on that side */
    float: left;
}

#profile_links {
    float: right; /* floats links to oposite side of the line */
}

/* format for when can't support 2 collumn width */
@media only screen and (max-width: 1250px) {   
    
}

/* format for tablet portrait (768px to 959px) */
@media only screen and (max-width: 959px) {
    #nav_menu ul li a { 
        font-size: 1.3em;
    }
    #nav_menu {
        width: 9em;
    }
    
    #content {
        left: 9em; /* offsets content from nav bar */
    }

    h3, dt {
        font-size: 1em;
        font-weight: bold;
        color: #003366;
    }

    h4, dd {
        font-size: 1em;
    }
    
    .main_pic {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .main_pic img {
        display: block;
        margin: 0 auto;
    }
    
    .main_pic_text {
        width: 100%;
        float: none;
        display: inline-block;
        padding: 0 2%;
    }
    
    #form_feedback {
    float: none;
    display: inline-block;
    }
}

/* format for mobile portate and landscape (767px or less) */
@media only screen and (max-width: 767px) {
    /* hide standard nav menu */
    #nav_menu {
        display: none;
    }
    
    /* unhide mobile menu */
    #mobile_menu {
        display: block;
    }
    
    /* format for mobile menu */
    .slicknav_menu {
        background-color: #3B556B !important;
    }
    
    .slicknav_menu>a {
        float: left;
    }
    
    .slicknav_menu ul {
        float: left;
        width: 90%;
    }
    
    .slicknav_menu ul li a.current {
        color: #1B1464;
        background-color: #29ABE2;
    }
    
    .slicknav_menu ul li a {
        margin: 0;
        color: whitesmoke;
        font-size: 1.2em;
        font-weight: bold;
        font-family: arial, verdana, sans-serif;
        text-align: left;
        text-decoration: none;
        background-color: #031634;
    }

    #nav_menu ul li a.current {
        color: #1B1464;
        background-color: #29ABE2;
        margin: 0 5%; /* when current reduces left and right margin from 10% to 5% growing in size */
    }

    #nav_menu ul li a:hover {
        color: lightgrey;
        background-color: grey;
        margin: 0 5%;
    }
    
    #content {
        position: inherit;
    }

    p {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }
    
    h3, dt {
        font-size: 1.1em;
    }

    h4, dd, td {
        font-size: 1em;
    }
}
