/* resets padding and margins to 0 for all elements */
*{
    padding: 0px;
    margin: 0px;
}

/* make background darkgray so acts as a filler coller where no elements */
body {
    background-color: darkgray;
}

/* makes key block element backgrounds white so stands out from grey */
header, #sidebarA, #sidebarB, main, footer {
    background-color: white;
}

header{
    padding: 12px;
}

/* embed Arial Bold font into website */
@font-face {
    font-family: "Arial Bold";
    src: url("fonts/Arial Rounded Bold.ttf")
}

/* use embeded Arial Bold font in websiteTitle */
#websiteTitle {
    font-family: "Arial Bold", sans-serif;
}

#tagLine {
    font-family: Arial, Helvetica, sans-serif; 
}

/* fixed width body and centered in browser */
/* body width = sidebarA, main, sidebarB widths plus their margins and padding */
#content {
    width: 1113px; /* use absolute units because fixed width */
    margin: 14px auto; /* centers body within webpage */
    border: 1px solid #000075; 
    background-color: gainsboro;
}

/* floats sidebarA to left of body */
#sidebarA {
    width: 201px;
    height: 400px;
    float: left;
    margin: 10px;
    padding: 12px;
}

/* Restores reset padding to lists after h2 headings */
h2+ul, h2+ol {
    padding: 20px;
}

/* sets top margin for list elements in sidebarA */
#sidebarA li {
    margin-top: .5em; /* used relative units since doesn't effect on block elements width*/
}

/* main is floated to the left after sidebarA */
main {
    width: 550px;
    height: 400px;
    float: left;
    padding: 12px;
    margin: 10px 0px; /* Top and Bottom margin is 10px Right and Left is 0px */
}

main h1, main p {
    margin-bottom: 12px;
}

/* floats Linear Actuator diagram to right of text in main*/
#diagram {
    float: right;
}


/* floats sidebarB to right of body */
#sidebarB {
    width: 250px;
    height: 400px;
    float: right;
    padding: 12px;
    margin: 10px;
    background: whitesmoke;
}

footer {
    clear: both; /* stops footer content from flowing into space besides sidebarB floating element*/
    padding: 12px;
    margin: 10px;
}

footer p {
    font-size: .8em; /* use relative units for font so can scale based on users system preferences */
    text-align: left;       
    margin-right: 20px;
}