/* 
    Created on : Jun 8, 2016, 5:26:40 PM
    Author     : David Tanzman
    Style sheet for Image Manipulation Example
*/

/* main content styles */
main {
    background-color: #FFFFFF;
    padding: 1%;
}

/* control buttons style */
#control_buttons {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
}

#control_buttons ul{
    list-style-type: none;
    margin-left: 1%;
    margin-right: 2%;
    padding: 3%;
    border: 2px solid black;
    background-color: #CCD1D1;
}

#control_buttons button{
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
}

/* images styles */
#images {
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

img {
    display: inline-block;
    max-height: 250px;
    margin-bottom: .5em;
}

img.wrappedElement {
    border: 2px solid black;
    margin: 6px;
}

/* scales images to 110% */
img.scale {
    transform:scale(1.1);
}

img.invert {  
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
