<div>
  <!-- use ng-class to toggle firstSearch class which formats searchbar diff when no object array -->
  <div class="col-sm-12" ng-class="{firstSearch:!myData}">
    <!--Search Sidebar-->
    <!-- "my-enter" adds on enter submit functionality to input (directive) -->
    <form class="form-inline">
      <label for=queryInput>Search:</label>
      <input type="text" class="form-control" id="queryInput" ng-model="queryInput" placeholder="{{queryInputPlaceholder}}" />
      <!-- submit button -->
      <button class="btn btn-primary glyphicon glyphicon-search" ng-click="findBooks(queryInput, 0)"></button>
    </form>
  </div>
  <!-- show dataLoading message when loading new pages -->
  <div class="col-sm-12" ng-if="dataLoading">
    <h3>Loading...</h3>
  </div>
  <div class="col-sm-12">
    <div ng-repeat="x in myData" check-book-exists-directive>
      <hr/>
      <ul class="searchItem">
        <div class="col-sm-2 imgColumn">
          <img ng-src="{{x.volumeInfo.imageLinks.thumbnail}}" ng-alt="Cover Image: {{x.volumeInfo.title}}">
        </div>
        <div class="col-sm-8 detailsColumn">
          <li ng-if="x.volumeInfo.title"><strong>Title:</strong> {{x.volumeInfo.title}}</li>
          <!-- only show subtitle if has content -->
          <li ng-if="x.volumeInfo.subtitle"><strong>Subtitle:</strong> {{x.volumeInfo.subtitle}}</li>
          <li ng-if="x.volumeInfo.authors[0]"><strong>Author:</strong> {{x.volumeInfo.authors[0]}}</li>
          <li ng-if="x.volumeInfo.publishedDate"><strong>Published:</strong> {{x.volumeInfo.publishedDate}}</li>
          <!-- output Info as HTML text so special char's convert properly -->
          <li ng-if="x.searchInfo.textSnippet"><strong>Description:</strong> <span ng-bind-html="x.searchInfo.textSnippet | html"></span></li>
          <li><strong>ISBN:</strong> {{x.volumeInfo.industryIdentifiers[0].identifier}}</li>
        </div>
        <div class="col-sm-2 buttonColumn">
          <button class="btn btn-warning" id="addButton{{$index}}" ng-click="addBook(x, $index)">
            {{addButtonText}}
          </button>
        </div>
      </ul>
    </div>
  </div>
  <!-- pagination Angular UI bootstrap -->
  <div class="col-sm-12 pagePagination" ng-if="pagination.totalItems">
    <ul uib-pagination ng-change="nextPage()" total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
  </div>
  <!-- force body to include float elements -->
  <div class="floatEnd"></div>
</div>