<div id="readingList">
  <div class="col-sm-12">
    <h2>{{pageTitle}}</h2>
    <!--Search Sidebar-->
    <!-- "my-enter" adds on enter submit functionality to input (directive) -->
    <form ng-if="!noBooks">
    <div class="form-group form-inline">
      <label for=queryInput>Filter:</label>
      <input type="text" class="form-control" id="queryInput" ng-model="queryInput.value" placeholder="{{queryInputPlaceholder}}" />
    </div>
    <div class="form-group form-inline">
      <label for=orderInput>Sort:</label>
      <select id="orderInput" ng-model="orderingProperties.orderProp" ng-change="optionValueChange(orderingProperties.orderProp)">
        <option ng-repeat="option in orderingOptions"
          value="{{option.value}}"
          ng-selected="option.value == orderingProperties.orderProp">
          {{option.text}}
        </option>
      </select>
    </div>
  </div>
  <!-- conditionaly show noBooks paragraphs -->
  <div class="col-sm-12 text-center" ng-if="noBooks && toReadList">
    <h3>Oh no! Your reading list is empty.</h3>
    <h3>Use the "Search" tab to quickly populate it.</h3>
  </div>
  <div class="col-sm-12 text-center" ng-if="noBooks && archiveList">
    <h3>You have no books archived.</h3>
    <h3>Archive books from your "To Read" list.</h3>
  </div>
  <div class="col-sm-12" ui-sortable ng-model="books">
    <div class="listMovable" 
    ng-repeat="x in books | filter: queryInput.value | orderBy: orderingProperties.orderProp">
      <ul class="searchItem">
        <div class="col-sm-2 imgColumn">
          <img ng-src="{{x.thumbnail}}" ng-alt="Cover Image: {{x.title}}">
        </div>
        <div class="col-sm-8 detailsColumn">
          <li ng-if="x.title"><strong>Title:</strong> {{x.title}}</li>
          <!-- only show subtitle if has content -->
          <li ng-if="x.subtitle"><strong>Subtitle:</strong>  {{x.subtitle}}</li>
          <li ng-if="x.authors[0]"><strong>Author:</strong> {{x.authors[0]}}</li>
          <li ng-if="x.publishedDate && x.expanded"><strong>Published:</strong> {{x.publishedDate}}</li>
          <!-- output Info as HTML text so special char's convert properly -->
          <li ng-if="x.textSnippet && !x.expanded"><strong>Text Snippet:</strong> <span ng-bind-html="x.textSnippet | html"></span></li>
          <li ng-if="x.textSnippet && x.expanded"><strong>Description:</strong> <span ng-bind-html="x.description | html"></span></li>
          <li ng-if="x.expanded"><strong>ISBN:</strong> {{x.isbn}}</li>
          <button class="btn btn-primary buttonMargin" id="deleteButton{{$index}}" ng-if="x.expanded" ng-click="removeBook(x)">
            Delete
          </button>
        </div>
        <div class="col-sm-2 buttonColumn">
          <button class="btn btn-primary" id="expandButton{{$index}}" ng-if="!x.expanded" ng-click="x.expanded = true">
            Expand
          </button>
          <button class="btn btn-primary" id="expandButton{{$index}}" ng-if="x.expanded" ng-click="x.expanded = false">
            Un-Expand
          </button>
          <!-- reset x.expanded to false -->
          <button class="btn btn-warning buttonMargin" id="addButton{{$index}}" ng-click="x.expanded = false; addBook(x)">
            {{addButtonText}}
          </button>
        </div>
      </ul>
    </div>
  </div>
  <!-- force body to include float elements -->
  <div class="floatEnd"></div>
</div>